<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{{#title}}{{title}}{{/title}}{{^title}}RPS{{/title}}</title>
</head>
<body>
{{#errors}}
    <font color="red">{{errors}}</font>
{{/errors}}
{{{body}}}
</body>
</html>
