<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Login</title>
</head>
<body>
<form action="login" method="post">
    login: <input type="text" name="{{everyauth.password.loginFormFieldName}}" value="{{everyauth.user.email}}"><br/>
    password: <input type="password" name="{{everyauth.password.passwordFormFieldName}}"><br/>
    <input type="submit" value="Submit" />
</form>
</body>
</html>
