{{#everyauth.password}}
    <form action="" method="post">
        <label for="name-field">name:</label>
        <input id="name-field" type="text" name="name" value="{{name}}">
        <br/>
        <label for="login-field">{{loginFormFieldName}}:</label>
        <input id="login-field" type="text" name="{{loginFormFieldName}}" value="{{email}}">
        <br/>
        <label for="password-field">{{passwordFormFieldName}}:</label>
        <input id="password-field" type="password" name="{{passwordFormFieldName}}"><br/>
        <input type="submit" value="{{title}}" />
    </form>
{{/everyauth.password}}
or
<br>
<a href="/auth/facebook">{{title}} using Facebook</a>
